body {
  margin: 0;
  height: 100vh;
  background: #f7f3ef;
  font-family: "Georgia", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

h2 {
  margin-bottom: 10px;
  font-weight: normal;
}

h1 {
  margin: 10px 0;
}

.subtext {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.buttons {
  position: relative;
  height: 60px;
}

button {
  padding: 12px 18px;
  margin: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

#yesBtn {
  background: #000;
  color: #fff;
}

#noBtn {
  background: #eaeaea;
  position: absolute;
}

#response {
  margin-top: 20px;
  font-style: italic;
}
